@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat";
}
.header {
    width: 100%;
    margin: 0 auto;
    background-color: #24326A;
}
.navbar {
    width: 90.1%;
    margin: 0 auto;
}
.navbar-brand {
    color: white;
    font-weight: 700;
}
.nav-link {
    color: white;
}
.logo-container {
    width: auto;
}
.main {
    width: 100%;
    margin: 0 auto;
    background-color: #24326A;
}
.block1 {
    width: 90.1%;
    min-height: 100vh;
    background-image: url("../assets/mainpage.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 1rem 0;
}
.main-title {
    font-size: 6.25rem;
    font-weight: 900;
    color: white;
    line-height: 90%;
}
.sub-main-title {
    font-size: 3.125rem;
    color: white;
    line-height: 90%;
}
.main-paragraph {
    color: white;
}
.write-button {
    color: #24326A;
    background-color: white;
    border: none;
}
.block2 {
    background-color: white;
    min-height: 100vh;
    background-image: url("../assets/block2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto;
    padding: 1rem 0;
}
.block2-container {
    width: 90.1%;
    height: 100%;
    margin: 0 auto;
}
.second-title {
    color: #24326A;
    font-size: 5rem;
    font-weight: 900;
}
.block2-paragraph-title {
    color: #24326A;
    font-size: 2.185rem;
    font-weight: 800;
}
.block2-paragraph-text {
    font-size: 2.185rem;
}
.mini-card {
    border: 2px solid #24326A;
    width: 83%;
    min-height: max-content;
    padding: 2rem 3.57rem;
}
.mini-card-title {
    font-size: 2.8125rem;
    font-weight: 800;
    color: #24326A;
}
.mini-card-sub-title {
    width: min-content;
    font-size: 1rem;
    font-weight: 800;
    color: #24326A;
}
.mini-card-description {
    font-size: 1.57rem;
}
.block3 {
    width: 90.1%;
    min-height: 100vh;
    margin: 0 auto;
}
.third-title {
    color: #fff;
    font-size: 5rem;
    font-weight: 900;
}
.person-card-name {
    color: #fff;
    font-weight: 800;
    font-size: 2.25rem;
}
.person-card-description {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
}
.block4 {
    background-color: #fff;
    min-height: 100vh;
    margin: 0 auto;
}
.block4-container {
    width: 90.1%;
    height: 100%;
    margin: 0 auto;
}
.video {
    color: #24326A;
}
.footer {
    min-height: 32.4vh;
    background-color: #24326A;
    margin: 0 auto;
}
.footer-container {
    height: 100%;
    width: 90.1%;
    margin: 0 auto;
}
.footer-info {
    height: 100%;
    row-gap: 3rem;
}
.footer-hashtag {
    height: max-content;
}
.footer-hashtag-text {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}
.footer-adress {
    height: max-content;
}
.footer-adress-text {
    color: #fff;
    font-size: 1.9rem;
}
.footer-image {
    height: 100%;
    width: auto;
}
@media screen and (max-width: 991px) {
    .block1 {
    width: 100%;
    height: max-content;
    background-image: none;
    }
    .main-title {
    font-size: 2.25rem;
    }
    .sub-main-title {
        font-size: 1.5rem;
    }
    .logo-container {
        width: 100%;
    }
    .block2 {
        background-image: none;
    }
    .mini-card {
        width: 100%;
    }
    .third-title {
        font-size: 2rem;
    }
    .footer-image {
    display: none;
    }
}